body{
  height: 100vh;
  padding: 0; 
  margin: 0;
  background-color: #f9fafb;
}

h1, h2, h3{
  padding: 0;
  margin: 0;
}

#content{
  height: 100%;
  display: grid;
  grid-template-rows: minmax(auto, 60px) auto minmax(auto, 60px);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#header{
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 10px;
  grid-column: 1 / 5;
  background-color: #ffffff;
}

#titleWrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#titleWrapper img{
  width: 100px;
  margin-top: 10px;
  padding-bottom: 10px;
}

.title h1{
  margin-top: 2rem;
}

#descriptionWrapper{
  padding-bottom: 30px;
}

.tabWrapper{
  border: 1px solid black;
  width: 100px;
  height: 50px;
  text-align: center;
  cursor: pointer;
  background-color: #ffffff;
}

.moduleWrapper{
  display: grid;
  height: 100%;
  grid-column: 2 / 4;
  padding: 0px 10px 0px 10px;
  background-color: #ffffff;
  box-shadow: 0px 1px 1px 1px #e1e2e3;
  grid-auto-flow: row;
}

.moduleChild{
  text-align: center;
}
.moduleChild:not(:first-child){
  border-bottom: 1px solid #e5e7eb;
}
.moduleChild:last-child{
  padding-bottom: 2rem;
}
.moduleChild ul{
  list-style: none;
  padding: 0;
}
.moduleChild h2{
  padding-top: 10px;
}

.menuGridWrapper{
  display: grid;
  grid-template: 1fr auto / 1fr 1fr 1fr;
}

.imgWrapper img{
  width: 40px;
}

#emailForm{
  display: grid;
  grid-template: 1fr 1fr 2fr 1fr / 1fr 1fr 1fr;
  grid-gap: 10px;
  align-self: start;
  border-bottom: none;
}
#actionCall{
  grid-column: 1 / 4;
  text-align: left;
  margin-bottom: 0px;
}
#emailForm input[type="email"]{
  grid-column: 1 / 2;
  height: 50%;
  align-self: end;
}
#emailForm textarea{
  grid-column: 1 / 4;
}
#emailForm button{
  grid-column: 3 / 4;
  height: 50%;
  align-self: start;
}

#footer{
  border-top: 1px solid #e5e7eb;
  justify-content: center;
  align-items: end;
  grid-column: 1 / 5;
  background-color: #ffffff;
  text-align: center;
}